body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    color: darkblue;
}

a {
    color: white;
    background-color: green;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: darkgreen;
}